<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>segment-twitter.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>segment-save.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>segment-email.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>segment-facebook.png</string>
	</dict>
</array>
</plist>
